<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Users</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <a
            (click)="openContent()"
            (keydown.enter)="openContent()"
            tabindex="0"
            matTooltip="Filter"
            href="javascript:void(0);"
            class="btn btn-filters w-auto popup-toggle"
            ><span class="me-2"
              ><img src="assets/img/icons/filter-icon.svg" alt="filter" /></span
            >Filter
          </a>
        </li>
        <li>
          <!-- <a
            class="btn btn-primary"
            href="javascript:void(0);"
            data-bs-toggle="modal"
            data-bs-target="#add_user"
            ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>اضافة
            مستخدم</a -->
          <add-user [roles]="roles" (isAdded)="isAddedNewUser()"></add-user>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-sm-12">
    <div class="card-table">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-scroll">
            <app-table
              matSort
              (matSortChange)="sortData($event)"
              [tableHead]="tableHeadTemplate"
              [tableBody]="tableBodyTemplate"
              [data]="users"
              [tableClass]="'table table-center table-hover datatable'"
              [pagination]="true"
              [search]="false"
              [showExports]="false"
              [totalRecords]="totalRecords"
              [columnFilters]="['title']"
              [Limits]="[5, 10, 20, 50, 100]"
              [Size]="5"
              (onPageChnage)="OnPageChage($event)"
              (onLimitChange)="OnPageLimitChange($event)"
            >
              <ng-template #tableHeadTemplate>
                <tr>
                  <th mat-sort-header="id">#</th>
                  <th mat-sort-header="name">اسم المستخدم</th>
                  <th mat-sort-header="phone">رقم الهاتف</th>
                  <th mat-sort-header="status">تاريخ الميلاد</th>
                  <th mat-sort-header="status">الجنس</th>
                  <th>الاجراءات</th>
                </tr>
              </ng-template>
              <ng-template let-user let-idx="idx" #tableBodyTemplate>
                <tr>
                  <td>{{ idx + 1 }}</td>
                  <th>{{ user.userName }}</th>
                  <th>{{ user.mobileNumber }}</th>
                  <th>{{ user.birthDate }}</th>
                  <th>{{ user.genderNameAr }}</th>
                  <th>
                    <!-- <button class="btn btn-success btn-sm me-1">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button> -->
                    <div class="dropdown dropdown-action">
                      <a
                        href="javascript:void(0);"
                        class="btn-action-icon"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="fas fa-ellipsis-v"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#edit_user"
                              ><i class="far fa-edit me-2"></i>تعديل</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#delete_modal"
                              ><i class="far fa-trash-alt me-2"></i>حذف</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </th>
                </tr>
              </ng-template>
            </app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
